@import '../../styles/colors';

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}

.row {
  align-items: center;
  margin: auto;
}

.col {
  width: 50px;
  min-width: 109px;

  padding: 0;
}

.icon {
  color: $white-1;
}

.git:hover {
  color: #ee513b;
}

.github:hover {
  color: #c6c6c6;
}
