@import '../../styles/colors';

//TODO JJV Clean this file...

@font-face {
  font-family: 'Streamster';
  src: url('../../fonts/STREAMSTER.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.title {
  display: grid;
}

.text {
  font-family: 'Tilt Neon', sans-serif;
  // font-weight: 600;

  //  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  // font-family: 'Josefin Sans', sans-serif;
  // font-weight: 700;

  //font-family: 'Rubik Mono One', monospace;

  font-size: 3.5rem;

  color: #fff;
  // color: transparent; // Hide the text color to show the gradient

  // -webkit-background-clip: text; // Apply gradient to the text (WebKit browsers)
  // background-clip: text; // Standard syntax (not fully supported in all browsers)

  // background-image: linear-gradient(
  //   to bottom,
  //   $synthwave-C1 5%,
  //   $synthwave-C2 50%,
  //   $synthwave-C3 80%
  // );
}

.gradientText {
  margin-left: 300px;
  margin-top: -10px;
  transform: rotate(-5deg);

  font-family: 'Streamster', sans-serif;
  font-size: 4rem;
  // font-weight: bold; // Makes the gradient more visible
  color: transparent; // Hide the text color to show the gradient

  -webkit-background-clip: text; // Apply gradient to the text (WebKit browsers)
  background-clip: text; // Standard syntax (not fully supported in all browsers)

  //TODO JJV Clean this
  /////////////////////////////////////////////////////////

  background-image: linear-gradient(to bottom, $synthwave-A1, $synthwave-A2);

  background-image: linear-gradient(
    to top,
    $synthwave-B2 50%,
    $synthwave-B1 100%
  );

  background-image: linear-gradient(
    to bottom,
    $synthwave-C1 5%,
    $synthwave-C2 50%,
    $synthwave-C3 80%
  );

  background-image: linear-gradient(to bottom, $synthwave-D1, $synthwave-D2);

  background-image: linear-gradient(to bottom, $synthwave-N1, $synthwave-N2);

  background-image: linear-gradient(
    to top,
    $synthwave-F1,
    $synthwave-F2,
    $synthwave-F3,
    $synthwave-F4
  );

  background-image: linear-gradient(to top, $synthwave-G2, $synthwave-G3);

  background-image: linear-gradient(to top, $synthwave-C2, $synthwave-C3);

  background-image: linear-gradient(
    to bottom,
    $synthwave-H1,
    $synthwave-H2,
    $synthwave-H3
  );

  background-image: linear-gradient(to top, $synthwave-N1, $synthwave-N2);

  background-image: linear-gradient(
    to bottom,
    $synthwave-C1 5%,
    $synthwave-C2 50%,
    $synthwave-C3 80%
  );
  ////////////////////////////////////////////////////
}
