@import '../../styles/colors';

.container {
  display: flex;
}

.languageButton {
  background: none;
  border: none;
  color: $white-3;
}

.selectedLanguageButton {
  color: $synthwave-N2;
  text-shadow: 0 0 20px $synthwave-N1;
}
