@import '../../styles/colors';
@import '../../styles/fonts';

.title {
  color: $white-3;
  font-size: $font-size-22;
  line-height: $line-height-normal;

  margin: 0;
  margin-bottom: 30px;

  text-align: start;
}
