//TODO JJV Clean this

$dark-background: #121519;
//$dark-background: #202123;

$orange: #ff9b43;

$turquoise: #3498db;
$turquoise2: #63f3fd; // JJV Este es el mejor hasta ahora
$turquoise3: #39aeb3;

$turquoise4: #62f3fe;
$turquoise5: #3fd8e3;
$turquoise6: #22c3c9;

//Synthwave colors

//$synthwave-black: #070607;
$synthwave-black: #202123;
$synthwave-black-transparent: rgba(32, 33, 35, 0.8);
$synthwave-dark-blue: #0c151f;

//--------------------------------------------------------------------------------------
//Neutral
$synthwave-N1: #0083fe;
$synthwave-N2: #1bf3cd;
$synthwaveSoft-N1: rgb(0, 131, 254, 0.5);
$synthwaveSoft-N2: rgb(27, 243, 205, 0.5);
$synthwaveSuperSoft-N1: rgb(0, 131, 254, 0.2);
$synthwaveSuperSoft-N2: rgb(27, 243, 205, 0.2);

//--------------------------------------------------------------------------------------
//Success
$synthwave-S1: rgb(50, 205, 50);
$synthwave-S2: rgb(0, 128, 0);
$synthwaveSoft-S1: rgb(50, 205, 50, 0.5);
$synthwaveSoft-S2: rgb(0, 128, 0, 0.5);
$synthwaveSuperSoft-S1: rgb(50, 205, 50, 0.2);
$synthwaveSuperSoft-S2: rgb(0, 128, 0, 0.2);

//--------------------------------------------------------------------------------------
//Alert
$synthwave-A1: #fbc829;
$synthwave-A2: #e32e03;
$synthwaveSoft-A1: rgb(251, 200, 41, 0.5);
$synthwaveSoft-A2: rgb(227, 46, 3, 0.5);

//--------------------------------------------------------------------------------------
//Others
$synthwave-B1: #3ed8d1;
$synthwave-B2: #ff7057;
$synthwaveSoft-B1: rgb(62, 216, 209, 0.5);
$synthwaveSoft-B2: rgb(255, 112, 87, 0.5);

$synthwave-C1: #b4f6fa;
$synthwave-C2: #6287cc;
$synthwave-C3: #fe2c73;
$synthwaveSoft-C1: rgb(180, 246, 250, 0.5);
$synthwaveSoft-C2: rgb(98, 135, 204, 0.5);
$synthwaveSoft-C3: rgb(254, 44, 115, 0.5);

$synthwave-D1: #fb491a;
$synthwave-D2: #ff8429;
$synthwaveSoft-D1: rgb(251, 73, 26, 0.5);
$synthwaveSoft-D2: rgb(255, 132, 41, 0.5);

$synthwave-F1: #fbc829;
$synthwave-F2: #d42e5b;
$synthwave-F3: #712766;
$synthwave-F4: #2f2360;

// $synthwave-G1: #72292a;
$synthwave-G2: #ec536c;
$synthwave-G3: #0d6d76;
// $synthwave-G4: #034142;

$synthwave-H1: #60bab3;
$synthwave-H2: #ecac61;
$synthwave-H3: #f05f4f;

//--------------------------------------------------------------------------------------
// Font colors

$white-1: rgba(255, 255, 255, 0.969); //download DV
$white-2: rgba(255, 255, 255, 0.851); //name
$white-3: rgba(255, 255, 255, 0.702); //titles
$white-4: rgba(255, 255, 255, 0.549); //texts
$white-5: rgba(255, 255, 255, 0.4); //texts

//
//Transparent card background
$transparent-card: #1e1e1eb3;
