@import '../../styles/colors';

.navButton {
  display: flex;
  margin: auto;

  margin-right: 10px;
  margin-left: 10px;

  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.icon {
  color: $white-1;
  transition: 0.5s;
}

.icon:hover {
  //  color: $synthwave-N2;
  border-radius: 50%;
  box-shadow:
    0px -5px 15px $synthwave-N2,
    0px 5px 15px $synthwave-N1;
}
