@import '../../styles/colors';
@import '../../styles/fonts';

.buttonContainer {
  width: 80px;
}

.button {
  width: 100%;
  background-color: transparent;
  border: none;

  color: $white-1;
  font-size: $font-size-16;

  transition: 1.2s;
}

.button:hover {
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  background-image: linear-gradient(to bottom, $synthwave-N1, $synthwave-N2);

  text-decoration: none;
}
