@import '../../styles/colors';

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}

.row {
  align-items: center;
  margin: auto;
}

.col {
  width: 50px;
  min-width: 109px;

  padding: 0;
}

.text {
  color: $white-3;
  margin: 0;

  background-color: transparent;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 10px;
}

.text:hover {
  color: $white-1;
}
